#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin:0;
  padding:0;
}

body, html {
  height: 100%;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.h1 {
  height: 100%;
}

th {
  text-align: center !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.index-container {
  height: calc(100vh - 69px);
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.sign-content {
  background: url(http://p57uimjto.bkt.clouddn.com/ykat/background-5.jpg@65) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  position: absolute;

  .box-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 69px);
  }

  .container-content {
    margin: auto;
    text-align: center;

    .sign-header {
      margin: 25px;
      min-height: 36px;
      font-size: 20px;
    }
  }

  .card {
    width: 432px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
  }
}

/* 弹性布局flex */
.sign-box {
  padding: 0 40px 36px;
}

.sign-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: 14px;

  span {
    color: #409EFF;
    cursor: pointer;
  }
}

.content-top {
  .el-row:nth-child(2) {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #d1d1d1;

    .el-col {
      cursor: pointer;

      :hover {
        color: #409EFF;
      }

      //.trans-picker-enter-active, .trans-picker-leave-active {
      //  transition: all .3s ease;
      //}
      //
      //.trans-picker-enter, .trans-picker-leave-to {
      //  transform: translateY(30px);
      //}
    }

  }

  .el-input-group__append, .el-input-group__prepend {
    border-color: #409EFF !important;
    background-color: #409EFF !important;
    color: #fff !important;
  }

  .el-date-editor--daterange.el-input__inner {
    width: calc(100% - 57px) !important;
    margin-right: 57px;
  }

  .el-row:last-child {
    margin-bottom: 20px;
  }
}
